
:root{
    --main: #606C38;
    --white: #fffdf0;
    --black: #1d2b0f ;
    --gray: #7e7c77;
    --comp: #BC6C25 ;
    --accent: #FF8F2D ;

    --sideMargin: 10%;
    --column:200px;

    --XL: 42px;
    --L: 20px;
    --M: 17px;
    --S: 10px;
    --XS: 5px;
}

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    display: flex;
    height: 100vh;
}

body > *{
    padding: var(--S);
}

.main{
    background-color: var(--white);
    flex-grow: 1;

    --width: 200px;

    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: 300px;
}

.user-list{
    background-color: var(--comp);
    flex-basis: 200px;
}

.painting{
    display: flex;
    flex-direction: column;
    width: var(--width);

    background-color: var(--accent);
}

.painting > *{
    padding: var(--S);
}

.img-wrap{
    height: var(--width);
    display: grid;
    place-content: center;
    border-bottom: 1px solid var(--black);
}

.painting img{
    width: 100%;
}