body {
    font: 12px "Roboto Condensed";
}

#favCities, #bigSpenders {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

#favCities p, #bigSpenders p {
    margin: 0px 5px;
}

#favCities p:last-child, #bigSpenders p:last-child {
    margin-left: 25px;
}

#json {
    display: none;
}

#tabell {
    display: grid;
    text-align: center;
}
#tabell > div {
    border: 2px solid transparent;
    padding: 1px 0px;
}

#tabell .max4City {
    background-color: gold;
}
#tabell .min4City {
    background-color: skyblue;
}
#tabell .min4Person {
    border-color: cadetblue;
}
#tabell .max4Person {
    border-color: orange;
}

.strong {
    font-weight: bolder;
}