@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;;
}

body{
    margin: auto;
    padding: 100px 20%;
    height: 100vh;
    background-color: aliceblue;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2{
    padding: 5px;
    background-color: rgb(109, 144, 177);
    color: white;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid lightgray;
}
h2::after{
    content: ":";
}

section:first-child{
    display: flex;
    gap: 10px;
}

i {
    /* border-radius: 50%; */
    background-color: white;
    width: 100px;
    height: 40px;
    cursor: pointer;

    display: grid;
    place-content: center;
}

i:active{
    /* border: 1px solid gray; */
    box-shadow: inset 1px 1px 1px gray;
}

input{
    flex-grow: 2;
    border-radius: 2px;
    border: none;
    padding: 10px;
    outline: none;
}

.short-input{
    flex-grow:1;
}

#icons{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

section:nth-child(2)~ section{
    background-color: white;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
}

#msg-box, #description{
    padding: 10px;
}

#msg-box{
    overflow: hidden scroll;
    max-height: 50vh;
}

#msg-box .error{
    color: rgb(245, 50, 50);
}

#msg-box .success{
    color: rgb(48, 133, 48);
}

p{
    font-size: 13px;
    line-height: 1.75;
}

/* console */
section:nth-child(3){
    flex-grow: 1;
}

#console{
    padding: 10px;
}

#console p{
    font-size: 14px;
}

/* description */
section:last-of-type{
    background-color: white;
}